.detailsList ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
}

.detailsList ul li {
    padding: 0.4rem 0.4rem 0.7rem 0.4rem;
    border-bottom: 1px solid #868686;
    width: 100%;
    margin: auto;
}

.detailsList ul li h4,
.detailsList ul li p {
    display: inline;
    font-size: 16px;
    margin-left: 0.7rem;
}

.detailsList ul li h4 {
    color: #0088fe;
}
